// Groentinten
@green-1: #537541;
@green-2: #86b642;
@green-3: #a2c369;
@green-4: #4e7b69;
@green-5: #7ec397;
@green-6: #9dcfad;

// Paarstinten
@purple-1: #5d6986;
@purple-2: #91a6d6;
@purple-3: #a9b7df;
@purple-4: #603f6c;
@purple-5: #92559d;
@purple-6: #a576b1;

// Bruintinten
@brown-1: #724d42;
@brown-2: #b37354;
@brown-3: #c08d72;
@brown-4: #96705a;
@brown-5: #f3b67f;
@brown-6: #f6c599;

// Blauwtinten
@blue-1: #244271;
@blue-2: #215ba7;
@blue-3: #5576b9;
@blue-4: #216e89;
@blue-5: #0eabdb;
@blue-6: #68bbe3;

// Paths
@font-path: "/content/fonts";
@images-path: "/content/images";

// Custom
@custom-color: #d0e3ed;

// Styling
@color-anchor: @blue-4; //#ffffff
@color-anchor-hover: @color-anchor;
@color-heading-anchor: @color-anchor;
@color-menu-anchor: @blue-4;
@color-heading: #ffffff;
@color-home-jumbotron-background: #ffffff;
@color-loading-text: #ffffff;
@color-validation: #ff0000;
@color-background: @custom-color; //blue-6
@color-background-seethrough: fade(@color-background, 90%);
@color-navbar-mobile-background: @color-background-seethrough;
@color-jumbotron-background: @color-background;
@color-seethrough-background: @color-background-seethrough;
@color-navbar-toggle: @blue-4;
@color-navbar-toggle-hover: @green-6;
@color-navbar-icon-bar: @blue-4;
@color-activities-header: @blue-4;
@color-activities-subheader: #ffffff;
@color-activity-description-border: @custom-color; //@blue-5
@color-link-hover-heading-box-shadow: @green-2;

// Bootstrap font types
@font-family-bootstrap-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-cookies-milk: "Cookies & Milk", @font-family-bootstrap-sans-serif;
@font-family-numbers: @font-family-bootstrap-sans-serif;

// Bootstrap styling
@text-color: @blue-4;
@link-color: @blue-4;
@input-color: @blue-4;
@input-color-placeholder: @blue-6;
@link-hover-color: @green-2;
@brand-primary: @blue-4;
@brand-info: @green-4;
@border-radius-large: 20px;
@jumbotron-heading-color: @color-heading;
@jumbotron-bg: @color-jumbotron-background;
@jumbotron-font-size: @font-size-large;
@line-height-base: 1.111111111;
@navbar-margin-bottom: 60px;
@nav-link-hover-bg: transparent;
@form-group-margin-bottom: 30px;
@btn-default-color: @brand-info;
@btn-default-border: darken(@brand-info, 5%);
@border-radius-base: 10px;